<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getRenderer>
        <processor
          patch:instead="processor[@type='type=Sitecore.Mvc.Pipelines.Response.GetRenderer.GetControllerRenderer, Sitecore.Mvc']"
          type="JLS.Foundation.SmartDelete.ExperienceEditor.Pipelines.GetRenderer.GetControllerRenderer,JLS.Foundation.SmartDelete" />
        <processor
          patch:instead="processor[@type='type=Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']"
          type="JLS.Foundation.SmartDelete.ExperienceEditor.Pipelines.GetRenderer.GetViewRenderer,JLS.Foundation.SmartDelete" />
      </mvc.getRenderer>
    </pipelines>
    <processors>
      <uiDeleteItems>
        <processor mode="on" type="JLS.Foundation.SmartDelete.Shell.Pipelines.DeleteItems,JLS.Foundation.SmartDelete" patch:instead="*[@method='Confirm']" method="Confirm" />
      </uiDeleteItems>
    </processors>
  </sitecore>
</configuration>